{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

{% if author.avatar %}
  <div class="author__avatar">
    <a href="{{ author.home | default: '/' | absolute_url }}">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" class="u-photo">
    </a>
  </div>
{% endif %}

<div class="author__content">
  <h3 class="author__name p-name" itemprop="name">
    <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
  </h3>
  {% if author.bio %}
    <div class="author__bio p-note" itemprop="description">
      {{ author.bio | markdownify }}
    </div>
  {% endif %}
  
  <div class="custom-sidebar-navigation">
    <ul>
      <li>
        <a href="{{ '/nds/' | relative_url }}">
          NDS
       </a>
      </li>
      <li>
        <a href="{{ '/psx1/' | relative_url }}">
          PSX1
        </a>
      </li>
    </ul>
  </div>
</div>